[filter "media"]
        clean = git media clean %f
        smudge = git media smudge %f
        required = true
[user]
        name = Mattias Norlander
	email = mattias.norlander@gmail.com


[difftool]
    prompt = false
[mergetool "kdiff3"]
    path = ~/bin/opendiff-git.sh
[mergetool]
    keepBackup = false
[merge]
   tool = opendiff
[push]
   default = simple
[diff]
   tool = opendiff
[alias]
	up = pull --rebase --autostash
[core]
	excludesfile = /Volumes/Data/Users/mattias.norlander/.gitignore
[url "git@github.com:"]
	insteadOf = https://github.com/
